#draft-sign {
  font-size: 120px;
  pointer-events: none;
  position: fixed;
  right: 50px;
  bottom: 10px;
  z-index: 10;
}

#draft-sign.mt-draft::before {
  color: rgba(204, 204, 68, 0.2);
  content: "draft";
}

#draft-sign.mt-sketch::before {
  color: rgba(200, 70, 200, 0.2);
  content: "sketch";
}

#passages a[data-passage].mt-draft {
  color: #cc4;
}
#passages a[data-passage].mt-draft:hover {
  color: #662;
}

#passages a[data-passage].mt-sketch {
  color: #c7c;
}
#passages a[data-passage].mt-sketch:hover {
  color: #969;
}
