.arc-disabled {
  opacity: 0.4;
  pointer-events: none;
}
.arc-picklocked {
  opacity: 0.6;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #990;
}
.arc-title {
  font-weight: bold;
}
.arc-ending .arc-select {
  margin-left: 1.5rem;
}
.arc-select label {
  margin-left: 1em;
  white-space: nowrap;
}
.arc-select input[type="radio"] {
  margin-right: 0.4em;
}
.arc-hint {
  font-size: small;
  font-style: italic;
  margin-left: 1.5rem;
}

.arc-body {
  margin-left: 1.5rem;
}
.arc-closable:not(.arc-open) {
  display: none;
}
.arc-switch {
  font-size: 0.8em;
  font-weight: normal;
  margin-left: 0.5em;
}

#passage-g1m-archives ul.actions {
  margin-left: 0.8rem;
}

.ending-bad {
  color: #f44;
  font-style: italic;
  font-weight: bold;
}
.ending-challenge {
  color: #f44;
  font-style: italic;
  font-weight: bold;
}
.ending-good {
  color: #6e6;
  font-style: italic;
  font-weight: bold;
}
