.cv-state {
  color: #39f;
  font-family: monospace;
  font-size: 11px;
  margin-left: 1em;
  text-indent: -1em;
}
.cv-states {
  margin-bottom: .5em;
}
.cv-true {
  color: #6a6;
}
.cv-false {
  color: #c88;
}
.cv-enum {
  color: #88c;
}
.cv-diff-a {
  outline: 2px dotted #c44;
}
.cv-diff-b {
  outline: 2px dotted #090;
}
.cv-diff-a.cv-diff-b {
  outline: 2px dotted #990;
}
.cv-busy {
  background-color: #330;
  color: #993;
  font-weight: bold;
}
