#EM-outer {
  position: fixed;
  bottom: 0;
  left: 0;
  line-height: 1.5;
  text-align: center;
  margin: 12px 0;
  pointer-events: none;
  width: 100%;
  z-index: 99991;
}
#EM-inner {
  display: inline-block;
  margin: 0 12px;
  pointer-events: auto;
}
.EM-note {
  background-color: #cc4;
  border-radius: 4px;
  color: #000;
  font-size: 12px;
  margin-bottom: 8px;
  padding: 8px 8px 4px 8px;
  text-align: left;
  word-break: break-word;
}
a.EM-button {
  color: #55f;
  float: right;
  font-weight: bold;
  margin-top: -2px;
  padding-left: 8px;
}
a.EM-button:hover {
  color: #c55;
}
.EM-fail {
  color: #f33;
  font-weight: bold;
}
.EM-trace {
  color: #000;
  font-weight: normal;
  margin-left: 1.5em;
  white-space: pre-line;
}
