/* <span> for each fade-in section */
.fade-in,
.fade-in .sprite-q {
  transition: all 0.4s ease-in;
}
.fade-in img {
  transition: all 0.4s ease-in;
}

/*
   * Hide text. Note: using opacity or filter here will make it impossible
   * to have links visible (child filter cannot override parent).
   * The :not clause gives this rule a high CSS specificity, making this
   * more likely to override complex selectors elsewhere.
   */
.fade-in-hidden:not(#_#_#_#_#_),
.fade-in-hidden:not(#_#_#_#_#_) * {
  background-image: unset;
  color: rgba(0, 0, 0, 0);
  pointer-events: none;
  text-decoration-color: rgba(0, 0, 0, 0);
}

/* Hide media. */
.fade-in-hidden:not(#_#_#_#_#_) img,
.fade-in-hidden:not(#_#_#_#_#_) video {
  opacity: 0;
}

/* actions list image */
.fade-in-hidden:not(#_#_#_#_#_) li::before {
  background-image: unset;
}

/* Block-out hidden links. */
.fade-in-hidden:not(#_#_#_#_#_) a {
  background-color: #222;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0);
  pointer-events: auto;
}
.fade-in-hidden:not(#_#_#_#_#_) a:hover {
  background-color: #333;
  color: rgba(0, 0, 0, 0);
}

/* Put pulsing dots at the section that will be revealed next. */
.fade-in-next:not(#_#_#_#_#_)::before {
  animation: 0.5s 1s ease-in-out alternate both infinite fade-in-blink;
  color: #fff;
  content: ". . .";
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  pointer-events: auto;
  position: absolute;
}
@keyframes fade-in-blink {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.fade-in-no-dots.fade-in-next:not(#_#_#_#_#_)::before {
  content: "";
}

.fade-in-no-pulse.fade-in-next:not(#_#_#_#_#_)::before {
  animation: none;
  opacity: 0.6;
}

/* Absorb clicks for a small amount of time after fade-in. */
.fade-in-absorb:not(#_#_#_#_#_),
.fade-in-absorb:not(#_#_#_#_#_) *,
.fade-in-absorb:not(#_#_#_#_#_) *:hover {
  cursor: wait;
}
.fade-in-absorb:not(#_#_#_#_#_) a,
.fade-in-absorb:not(#_#_#_#_#_) a:hover {
  color: rgb(100, 100, 100, 1);
}
