.mtl-denied::before {
  filter: grayscale();
}

.mtl-denied .mtl-action {
  color: #999;
  text-decoration: line-through;
  text-decoration-color: #999;
  text-decoration-thickness: 1px;
}

.mtl-denied .mtl-reason {
  color: #999;
  margin-left: 0.5em;
  font-style: italic;
}
