#notes-button {
  background-color: rgb(255, 255, 255, 0.2);
  border: 1px solid transparent;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 4px;
  opacity: 0.5;
  padding: 2px 4px;
  position: fixed;
  right: 4px;
  text-align: right;
  top: 20px;
  z-index: 60;
}
#notes-line-1 {
  font-size: 18px;
}
#notes-button.notes-non-zero {
  border-color: rgb(255, 255, 255, 0.4);
}
#notes-button.notes-non-zero #notes-count {
  color: rgb(255, 255, 255, 0.8);
  font-weight: bold;
}
#notes-button:hover {
  background-color: #333;
  border-color: #eee;
  color: #eee;
  opacity: 1;
}
#notes-line-2::before {
  content: "\e801\0020";
  font-family: tme-fa-icons;
}
#notes-button.notes-non-zero #notes-line-2::before {
  color: rgb(255, 255, 255, 0.8);
}
#notes-button.notes-has-note #notes-line-2::before {
  content: "\e800\0020";
}
#notes-button.notes-has-note:hover #notes-line-2::before {
  color: #cc0;
}
.notes-buttons button {
  background-color: #000;
  border-color: #840;
  border-radius: 8px;
  color: var(--mt-link-fg);
  margin: 0.2rem 0.2rem 0.5rem 0;
  padding: 0.3rem 0.4rem;
}
.notes-buttons button:disabled {
  border-color: #444;
  color: #444;
}
.notes-buttons button:hover:not(:disabled) {
  background-color: var(--mt-link-hover-fg);
  color: #fff;
}
#notes-input,
#notes-conflict textarea {
  border-radius: 8px;
  height: 9em;
  line-height: 1.4;
  max-width: 100%;
  min-width: 5em;
  width: min(90%, 30em);
}
#notes-conflict {
  display: none;
}
#notes-conflict.notes-has-conflict {
  display: block;
}

#notes-load-file {
  height: 1px;
  left: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  width: 1px;
  visibility: hidden;
}

#notes-switch {
  font-size: 0.8em;
  font-weight: normal;
  margin-left: 0.5em;
}
#notes-detail {
  margin-left: 1.5em;
  margin-top: 1.5em;
}

#notes-trail-section label {
  margin-left: 2em;
}
#notes-trail-section label:has(input:disabled) {
  color: #666;
}
#notes-trail-section textarea {
  color: #ccc;
  font-size: 12px;
  margin-top: 1rem;
  resize: both;
  text-wrap: nowrap;
  width: 480px;
  height: 200px;
}