.mt-seen-true a {
  color: #ddcc99;
}
.mt-seen-true a:hover {
  color: #aa9966;
}

ul.actions .mt-seen-true li::before {
  filter: saturate(20%);
}

.debugging .mt-seen-false a {
  text-decoration: underline dashed #f66;
}

.debugging .mt-seen-todo a {
  text-decoration: underline wavy #882;
}

/* make true visible in transcript */
.debugging .tran-entry .mt-seen-true a {
  text-decoration: underline dashed #393;
}
