.var-info {
  background-color: #111;
  color: #999;
  cursor: default;
  font-size: 12px;
  line-height: 14px;
  padding: 4px 0;
}

.var-info-label,
.var-info-button-outer {
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 2px;
  padding: 2px 4px;
  text-align: center;
  user-select: none;
  white-space: nowrap;
}

.var-info-label {
  color: #666;
  cursor: pointer;
  margin-left: -4px;
  margin-right: 8px;
}
.var-info-label:hover {
  background-color: #222;
}

.var-info-hidden > span:not(.var-info-show) {
  display: none;
}
.var-info-hidden:not(.var-info-to-do) > .var-info-label::after {
  content: "\2713"; /* checkmark */
  margin-left: 0.5em;
}
.var-info-hidden.var-info-to-do > .var-info-label::after {
  content: "\1f6a7"; /* construction */
}

.var-info-separator {
  margin: 0 16px;
}

.var-info-compute {
  margin-right: 1em;
}
.var-info-compute:hover {
  background-color: #333;
}

.var-info-button-outer {
  min-width: 4em;
  position: relative;
}

.var-info-passage {
  user-select: all;
  white-space: nowrap;
}

.var-info-notable {
  font-weight: bold;
}
.var-info-ignored {
  border: 1px dashed #882;
  font-style: italic;
  font-weight: normal;
}
.var-info-always {
  font-weight: normal;
  opacity: 0.6;
}

.var-info-to-do::after {
  content: "\1f6a7"; /* construction */
}
.var-info-was-written::before {
  content: "\2191"; /* up arrow */
  padding-right: 1px;
}
.var-info-was-read::after {
  content: "\2193"; /* down arrow */
  padding-left: 1px;
}
.var-info-was-read.var-info-to-do::after {
  content: "\2193\1f6a7"; /* down arrow, construction */
  padding-left: 1px;
}

.var-info-was-deleted:not(.var-info-was-written) {
  opacity: 0.5;
  text-decoration: line-through;
}

.var-info-can-change {
  border-color: #666;
  cursor: pointer;
}
.var-info-can-change:hover {
  border-color: #ccc;
}

.var-info-can-change.var-info-notable {
  border-color: #996;
}
.var-info-can-change.var-info-notable:hover {
  border-color: #ddc;
}

.var-info-boolean-false {
  color: #c88;
}
.var-info-boolean-true {
  color: #6a6;
}

.var-info-enum {
  color: #88c;
}
.var-info-number .var-info-button-label,
.var-info-enum .var-info-button-label {
  pointer-events: none;
}
.var-info-button-left,
.var-info-button-right {
  border: 1px solid #666;
  border-radius: 4px;
  height: 100%;
  position: absolute;
  top: 0;
  width: 50%;
}
.var-info-button-left:hover,
.var-info-button-right:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.var-info-button-left {
  border-right: 0;
  left: 0;
}
.var-info-button-right {
  border-left: 0;
  right: 0;
}

.var-info-value {
  background-color: #033;
  display: inline-block;
  max-width: 3em;
  overflow-x: clip;
}
