.NP-subtitle {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

#NP-input {
  min-width: 10em;
  width: calc(100% - 1em);
}

.NP-conflict-hidden {
  display: none;
}

.NP-conflict-important {
  color: #fe9;
  font-size: 1.1em;
  font-weight: bold;
}

#NP-footer a {
  display: inline-block;
  margin-top: 0.5em;
}
