.caged-box {
  background: #222;
  margin: 0 auto;
  height: min(70vh - 5em, 35em);
  overflow: hidden;
  padding: 4px 8px;
  position: relative;
  text-align: justify;
  width: min(90vw - 5em, 20em);
  word-break: break-all;
}

.caged-fade-start {
  color: #222;
}
.caged-fade-start > * {
  opacity: 0;
}
.caged-fade-fast {
  transition: color 1s;
}
.caged-fade-slow {
  transition: color 3s;
}

/* special handling for the word cock */
.caged-cock {
  border-radius: 4px;
  transition: all 1s;
  word-break: normal;
}
.caged-blocked:not(#_#_#_#_#_),
.caged-blocked:hover:not(#_#_#_#_#_) {
  background: #555;
  color: #555;
  cursor: not-allowed;
}


.caged-continue {
  background: #222;
  display: inline-block;
  padding-left: 8px;
  position: absolute;
  right: 8px;
}
.caged-continue:hover {
  background: #222;
}

.caged-flash .caged-continue,
.caged-flash .caged-continue:hover {
  background: #222;
  color: #222;
  cursor: not-allowed;
}

.caged-flash .caged-cock:not(.caged-blocked) {
  color: #f00;
}

/* used for measuring text. */
.caged-hidden {
  visibility: hidden;
}

/*
 * on page-load, sugarcube sets #passages to display:none.
 * override that so we can measure text.
 */
#passages.caged-render {
  display: block !important;
}

/* for debugging layout */
/*
body:has(.caged-render) #init-screen {
  display: none !important;
}
.caged-hidden {
  visibility: visible;
}
*/