/*
 * Caged text. We try to be precise with layout despite not
 * really knowing what font is used. (It'll probably be Arial on desktops,
 * SF Pro on iOS, and Roboto on Android)
 */

.caged-grid {
  display: grid;
}

.caged-box,
.caged-box2 {
  font-family: Arial, sans-serif;
  line-height: 1.75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: justify;
  word-break: break-all;
}

.caged-box {
  background: rgba(34, 34, 34, 0.5);
  border: 2px solid rgba(34, 34, 34, 0.8);
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  grid-column: 1;
  grid-row: 1;
  height: min(70vh - 5em, 35em);
  padding: 4px 8px;
  width: min(90vw - 5em, 20em);
}
.caged-box span {
  position: relative;
  z-index: 2;
}

.caged-box2 {
  /* background: #222; */
  /* border: 1px solid #333; */
  color: #569;
  font-size: 0.7rem;
  grid-column: 1;
  grid-row: 1;
  height: min(70vh - 10em, 25em);
  padding: 4px 8px;
  pointer-events: none;
  top: 4.5rem;
  width: min(90vw - 5em, 20em);
  z-index: 0;
}

.caged-fade-start {
  color: #222;
}
.caged-fade-start a {
  opacity: 0;
}
.caged-fade-fast {
  transition: color 1s;
}
.caged-fade-slow {
  transition: color 3s;
}

/* special handling for the word cock */
.caged-cock {
  border-radius: 4px;
  transition: all 1s;
  word-break: normal;
}
.caged-transcript .caged-n-cock:not(#_#_#_#_#_),
.caged-n-cock.caged-touched:not(#_#_#_#_#_),
.caged-n-cock.caged-touched:hover:not(#_#_#_#_#_) {
  background: #555;
  color: #555;
  cursor: not-allowed;
}
.caged-transcript .caged-i-cock:not(#_#_#_#_#_),
.caged-i-cock.caged-touched:not(#_#_#_#_#_),
.caged-i-cock.caged-touched:hover:not(#_#_#_#_#_) {
  background: #944;
  color: #fcc;
}

.caged-continue {
  background: linear-gradient(to right, rgba(34, 34, 34, 0), rgb(34, 34, 34) 12px);
  display: inline-block;
  padding-left: 16px;
  position: absolute;
  right: 8px;
  z-index: 10;
}

.caged-transcript .caged-continue:not(#_#_#_#_#_) {
  color: #aac;
  cursor: text;
}

.caged-skip {
  color: #666;
  font-size: 15px;
  margin-top: 2em;
  text-align: center;
}

.caged-flash .caged-continue,
.caged-flash .caged-continue:hover {
  color: #222;
  cursor: not-allowed;
}

.caged-flash .caged-cock:not(.caged-blocked) {
  color: #f00;
}

/* used for measuring text. */
.caged-hidden {
  visibility: hidden;
}

/* fade out on last block */
.caged-last::before {
  background: linear-gradient(transparent 70%, rgb(34, 34, 34, 0.8));
  display: block;
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

/*
 * on page-load, sugarcube sets #passages to display:none.
 * override that so we can measure text.
 */
#passages.caged-render {
  display: block !important;
}

/* for debugging layout */
body:has(.caged-render) #init-screen {
  display: none !important;
}
.caged-hidden {
  visibility: visible;
}