.master-quiet {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  top: 1px;
}
.nero-blank {
  color: rgba(0, 0, 0, 0);
  font-family: monospace;
  user-select: none;
}
.nero-blank-c {
  background-color: #333;
  letter-spacing: 1px;
  margin-right: 1px;
}
.nero-blank .glitch-c:not(#_#_#_#_),
.nero-blank .glitch-v:not(#_#_#_#_) {
  background-color: #333;
  color: rgba(0, 0, 0, 0);
}

.sprite-squish {
  letter-spacing: -1px;
  margin-right: 0.1em;
  word-spacing: -2px;
}
