/*
 * Caged text. We try to be precise with layout despite not
 * really knowing what font is used. (It'll probably be Arial on desktops,
 * SF Pro on iOS, and Roboto on Android)
 */

.caged-grid {
  display: grid;
}

.caged-box {
  font-family: Arial, sans-serif;
  line-height: 1.75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: justify;
  text-wrap: wrap;
  word-break: break-all;
}

.caged-box {
  background: rgba(34, 34, 34, 0.5);
  border: 2px solid rgba(34, 34, 34, 0.8);
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  grid-column: 1;
  grid-row: 1;
  height: min(70vh - 5em, 30em);
  padding: 4px 8px;
  width: min(90vw - 5em, 20em);
}
.caged-box span {
  position: relative;
  z-index: 2;
}

.caged-fade-start {
  color: #222;
}
.caged-fade-start a:not(#_#_#_#_#_),
.caged-fade-start caged-cum.caged-cum-active {
  opacity: 0;
}
.caged-fade-start .caged-continue:not(#_#_#_#_#_) {
  opacity: 1;
  color: #222;
}

.caged-cock:not(#_#_#_#_),
[data-shock]:not(#_#_#_#_),
caged-cum.caged-cum-active {
  transition: background-color 1s;
}

.caged-fade-fast,
.caged-fade-fast a:not(#_#_#_#_#_),
.caged-fade-fast caged-cum.caged-cum-active {
  transition:
    color 1s,
    opacity 1s;
}
.caged-fade-slow,
.caged-fade-slow a:not(#_#_#_#_#_),
.caged-fade-slow caged-cum.caged-cum-active {
  transition:
    color 3s,
    opacity 3s;
}

/* special handling for keywords */

.caged-cock,
[data-shock],
caged-cum {
  border-radius: 4px;
  /* don't split; a split is weird if it crosses a block boundary. */
  word-break: normal;
}

.caged-transcript .caged-n-cock:not(#_#_#_#_#_),
.caged-n-cock.caged-touched:not(#_#_#_#_#_),
.caged-n-cock.caged-touched:hover:not(#_#_#_#_#_) {
  background: #544;
  color: #544;
  cursor: not-allowed;
}
.caged-transcript .caged-i-cock:not(#_#_#_#_#_),
.caged-i-cock.caged-touched:not(#_#_#_#_#_),
.caged-i-cock.caged-touched:hover:not(#_#_#_#_#_) {
  background: #944;
  color: #fcc;
}

.caged-continue {
  background: linear-gradient(to right, rgb(25 25 25 / 0%), rgb(25 25 25) 16px);
  display: inline-block;
  padding-left: 16px;
  position: absolute;
  right: 8px;
  z-index: 10;
}

.caged-transcript .caged-continue:not(#_#_#_) {
  color: rgb(67 67 108);
  cursor: text;
}

.caged-skip {
  color: #666;
  font-size: 15px;
  margin-top: 2em;
  text-align: center;
}

.caged-flash .caged-continue,
.caged-flash .caged-continue:hover {
  color: #222;
  cursor: not-allowed;
}

.caged-flash .caged-cock:not(.caged-touched),
.caged-flash [data-shock]:not([data-shock="0"]),
.caged-flash caged-cum.caged-cum-active:not(.caged-touched) {
  background-color: rgb(165, 44, 54);
  color: #e16898;
}

/* used for measuring text. */
.caged-hidden {
  visibility: hidden;
}

/* fade out on last block */
.caged-last::before {
  background: linear-gradient(transparent 70%, rgb(34, 34, 34, 0.8));
  display: block;
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.caged-last .caged-continue {
  background: linear-gradient(to right, rgb(34 34 34 / 0%), rgb(34 34 34) 18px);
}

/*
 * on page-load, sugarcube sets #passages to display:none.
 * override that so we can measure text.
 */
#passages.caged-render {
  display: block !important;
}

/* for debugging layout */
body:has(.caged-render) #init-screen {
  display: none !important;
}
.caged-hidden {
  visibility: visible;
}

/* shock links */
a[data-shock] {
  word-break: normal;
}

.caged-transcript a[data-shock] {
  background-color: rgb(92 39 152);
  border-radius: 4px;
  color: rgb(242 224 242 / 80%);
  cursor: text;
}

a[data-shock="0"],
a[data-shock="0"]:hover {
  background-color: rgb(92 39 152);
  border-radius: 4px;
  color: rgb(242 224 242 / 80%);
  cursor: text;
}

/* allow words that aren't split to be rotated */
.caged-word:not(.caged-split) {
  display: inline-block;
}

.caged-shocking {
  color: rgb(189, 141, 244);
}

/* hack to make sure debug controls don't block links */
@media (max-width: 30rem) {
  #story:has(.caged-grid) #notes-button,
  #story:has(.caged-grid) #random-walk {
    right: -1.5rem;
  }
}

caged-cum {
  display: inline;
}

caged-cum.caged-cum-active {
  background: #666;
  color: #ccc;
  cursor: pointer;
  transition: color .5s;
}

caged-cum.caged-cum-active:hover {
  background: #999;
  color: #fff;
}

caged-cum.caged-touched,
caged-cum.caged-touched:hover {
  cursor: default;
  opacity: 0.1;
  transition: all 1s;
}

.caged-transcript caged-cum.caged-cum-active {
  background: #999;
  color: #fff;
  cursor: default;
}