.caged-box {
  border: 4px solid #555;
  margin: 0 auto;
  height: min(70vh - 5em, 35em);
  overflow: hidden;
  padding: 4px;
  position: relative;
  text-align: justify;
  width: min(90vw - 5em, 20em);
  word-break: break-all;
}

/* special handling for the word cock */
.caged-cock {
  color: #f99;
  word-break: normal;
}

/* used for measuring text. */
.caged-hidden {
  visibility: hidden;
}

.caged-continue {
  background: #000;
  color: #ff9;
  display: inline-block;
  padding-left: 4px;
  position: absolute;
  right: 4px;
}

/*
 * on page-load, sugarcube sets #passages to display:none.
 * override that so we can measure text.
 */
#passages.caged-render {
  display: block !important;
}

/* for debugging layout */
/*
body:has(.caged-render) #init-screen {
  display: none !important;
}
.caged-hidden {
  visibility: visible;
}
*/